.carousal-caption{

    background-color: deepskyblue;
    margin-bottom: 20px;
}
.custom-login{
    height:500px;
    width:100%;
    padding-top: 100px;
    
    }
.custom-registration{

    height: 500px;
    width: 100%;
    padding-top: 100px;
}
#exampleInputPassword1{

 margin-bottom: 20px;
    
}
#mybutton{

    margin-top: 20px;
}
.mylist ul li a{

 color: white;
 text-decoration: none;
 display: flex; 
 margin: 15px;
 margin-left: 50px;
font-size: 1rem;

}
#information{
    width: 100%;
    margin-top: 100px;    
}
.mynav ul li a{

    text-decoration: none;
    font-size: 1rem;
    padding: 0 30px;
  

}
.mysearch{

    
    height: 350px;

}
.orderbutton{

    margin-bottom: 20px;
}
#checkout_one{

    margin-top: 30px;
}
#messages{

    resize: none;
}
#orderbutton{

 margin-left: 150px;
 margin-top: 30px;
 margin-bottom: 30px;
}
.custom-product{

    margin-top: 30px;
    
}

.cart-list-divider{

    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px
}